<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>

<app-hero-search></app-hero-search>

<!-- ik vond lastig te begrijpen wat col-1-4 was, bij bootstrap zie ik wel een gridsysteem van col-sm-3 en col-sm-9 om 
aan te geven dat bij smalle devices de verdeling van de grid 3 en 9 is, maar na opzoeken van grid
kwam ik erachter dat col-1-4 bij de class grid hoort om de kolommen van de grid aan te geven, hier width 25%, zie css van dashboard-->

<!-- de a tag heeft een routerLink met een parameter erbij voor herodetail 
 interpolation binding in een *ngFor houdt dus de index bij per routerLink, best cool-->